{% extends "base.twig" %}
{% block content %}

<div class="row">
    <div class="col-md-9 col-md-push-3">
        <div class="b-blog-one-column__row b-some-examples-secondary">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="b-form-row b-blog-one-column__text">
                        <div class="b-slider j-fullscreenslider">
                            <ul>
                                <li data-transition="3dcurtain-vertical" data-slotamount="7">
                                    <div class="tp-bannertimer"></div>
                                    <img data-retina src="media/img/slider/slider_main_2-1.png">
                                </li>
                                <li data-transition="3dcurtain-vertical" data-slotamount="7">
                                    <div class="tp-bannertimer"></div>
                                    <img data-retina src="media/img/slider/slider_main_2-2.png">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="b-form-row b-blog-one-column__text">{{ weather|raw }}</div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="b-form-row b-blog-one-column__text"><img alt="" src="{{ baseurl }}/media/img/offer/offer1.jpg"></div>
                </div>
            </div>
        </div>
        <div class="b-blog-one-column__row b-some-examples-secondary">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="b-form-row f-primary-l f-title-big c-secondary f-h4-special b-blog__title"><a href="travel_hotels_details_left_slidebar.html"></a></div>
                    <div class="b-form-row f-h4-special clearfix">
                        <div class="b-blog-one-column__info_container">
                            <div class="b-blog-one-column__info">
                                <span class="f-info--big">Wintermaanden</span>

                            </div>
                        </div>
                    </div>
                    <div class="b-form-row b-blog-one-column__text">Gedurende de wintermaanden kun je ook steeds beter terecht op Ibiza. Naast de genoemde clubs, kun je al op donderdag bijvoorbeeld lekker gaan stappen bij The Keeper in Botafog. Ook vind je daar Grial, waar bekende DJ’s komen, zoals José Maria Ramon. Op vrijdag kun je bijvoorbeeld naar Underground in het mooie San Rafael, waar soms grote namen te vinden zijn. Op zaterdag trekken velen naar beachclub Sankeys in Playa d’n Bossa met zijn goede muziek.</div>

                </div>
            </div>
        </div>

        <div class="b-blog-one-column__row b-some-examples-secondary">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="b-some-examples__item_img view view-sixth">
                    <img data-retina="" src="{{ baseurl }}/media/img/travel/travel_l-1.jpg" alt="">
                    <div class="b-item-hover-action f-center mask">
                        <div class="b-item-hover-action__inner">
                            <div class="b-item-hover-action__inner-btn_group">
                                <a href="travel_hotels_details_left_slidebar.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-8">
                <div class="b-form-row f-primary-l f-title-big c-secondary f-h4-special b-blog__title"><a href="travel_hotels_details_left_slidebar.html">Hotel Du Lion D'or</a></div>
                <div class="b-form-row f-h4-special clearfix">
                    <div class="b-blog-one-column__info_container">
                        <div class="b-blog-one-column__info">
                            <span class="f-info--big">$36.00 avg/night</span>

                            <span class="b-blog-one-column__info_delimiter"></span>
                            Location : <a href="#" class="f-more">Malaga</a>
                        </div>
                        <div class="pull-right">
                            <div class="b-stars-group f-stars-group">
                                <i class="fa fa-star is-active-stars"></i>
                                <i class="fa fa-star is-active-stars"></i>
                                <i class="fa fa-star is-active-stars"></i>
                                <i class="fa fa-star is-active-stars"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-form-row b-blog-one-column__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac lacinia dolor. Nullam semper euismod rhoncus. Curabitur pulvinar, mauris luctus semper rutrum, lacus est volutpat urna, sed fringilla augue nunc nec dolor. Integer sit amet massa non quam semper sodales</div>
                <div class="b-form-row b-null-bottom-indent">
                    <a href="travel_hotels_details_left_slidebar.html" class="b-btn f-btn b-btn-md b-btn-default f-primary-b">book now</a>
                </div>
            </div>
        </div>
    </div>

        <div class="b-blog-one-column__row b-some-examples-secondary">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="b-some-examples__item_img view view-sixth">
                        <img data-retina="" src="{{ baseurl }}/media/img/travel/travel_l-2.jpg" alt="">
                        <div class="b-item-hover-action f-center mask">
                            <div class="b-item-hover-action__inner">
                                <div class="b-item-hover-action__inner-btn_group">
                                    <a href="travel_hotels_details_left_slidebar.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-8">
                    <div class="b-form-row f-primary-l f-title-big c-secondary f-h4-special b-blog__title"><a href="travel_hotels_details_left_slidebar.html">Hotel Du Lion D'or</a></div>
                    <div class="b-form-row f-h4-special clearfix">
                        <div class="b-blog-one-column__info_container">
                            <div class="b-blog-one-column__info">
                                <span class="f-info--big">$36.00 avg/night</span>

                                <span class="b-blog-one-column__info_delimiter"></span>
                                Location : <a href="#" class="f-more">Malaga</a>
                            </div>
                            <div class="pull-right">
                                <div class="b-stars-group f-stars-group">
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-form-row b-blog-one-column__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac lacinia dolor. Nullam semper euismod rhoncus. Curabitur pulvinar, mauris luctus semper rutrum, lacus est volutpat urna, sed fringilla augue nunc nec dolor. Integer sit amet massa non quam semper sodales</div>
                    <div class="b-form-row b-null-bottom-indent">
                        <a href="travel_hotels_details_left_slidebar.html" class="b-btn f-btn b-btn-md b-btn-default f-primary-b">book now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-blog-one-column__row b-some-examples-secondary">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="b-some-examples__item_img view view-sixth">
                        <img data-retina="" src="{{ baseurl }}/media/img/travel/travel_l-3.jpg" alt="">
                        <div class="b-item-hover-action f-center mask">
                            <div class="b-item-hover-action__inner">
                                <div class="b-item-hover-action__inner-btn_group">
                                    <a href="travel_hotels_details_left_slidebar.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-8">
                    <div class="b-form-row f-primary-l f-title-big c-secondary f-h4-special b-blog__title"><a href="travel_hotels_details_left_slidebar.html">Hotel Du Lion D'or</a></div>
                    <div class="b-form-row f-h4-special clearfix">
                        <div class="b-blog-one-column__info_container">
                            <div class="b-blog-one-column__info">
                                <span class="f-info--big">$36.00 avg/night</span>

                                <span class="b-blog-one-column__info_delimiter"></span>
                                Location : <a href="#" class="f-more">Malaga</a>
                            </div>
                            <div class="pull-right">
                                <div class="b-stars-group f-stars-group">
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-form-row b-blog-one-column__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac lacinia dolor. Nullam semper euismod rhoncus. Curabitur pulvinar, mauris luctus semper rutrum, lacus est volutpat urna, sed fringilla augue nunc nec dolor. Integer sit amet massa non quam semper sodales</div>
                    <div class="b-form-row b-null-bottom-indent">
                        <a href="travel_hotels_details_left_slidebar.html" class="b-btn f-btn b-btn-md b-btn-default f-primary-b">book now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-blog-one-column__row b-some-examples-secondary">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="b-some-examples__item_img view view-sixth">
                        <img data-retina="" src="{{ baseurl }}/media/img/travel/travel_l-4.jpg" alt="">
                        <div class="b-item-hover-action f-center mask">
                            <div class="b-item-hover-action__inner">
                                <div class="b-item-hover-action__inner-btn_group">
                                    <a href="travel_hotels_details_left_slidebar.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-8">
                    <div class="b-form-row f-primary-l f-title-big c-secondary f-h4-special b-blog__title"><a href="travel_hotels_details_left_slidebar.html">Hotel Du Lion D'or</a></div>
                    <div class="b-form-row f-h4-special clearfix">
                        <div class="b-blog-one-column__info_container">
                            <div class="b-blog-one-column__info">
                                <span class="f-info--big">$36.00 avg/night</span>

                                <span class="b-blog-one-column__info_delimiter"></span>
                                Location : <a href="#" class="f-more">Malaga</a>
                            </div>
                            <div class="pull-right">
                                <div class="b-stars-group f-stars-group">
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-form-row b-blog-one-column__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac lacinia dolor. Nullam semper euismod rhoncus. Curabitur pulvinar, mauris luctus semper rutrum, lacus est volutpat urna, sed fringilla augue nunc nec dolor. Integer sit amet massa non quam semper sodales</div>
                    <div class="b-form-row b-null-bottom-indent">
                        <a href="travel_hotels_details_left_slidebar.html" class="b-btn f-btn b-btn-md b-btn-default f-primary-b">book now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-blog-one-column__row b-some-examples-secondary">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="b-some-examples__item_img view view-sixth">
                        <img data-retina="" src="{{ baseurl }}/media/img/travel/travel_l-5.jpg" alt="">
                        <div class="b-item-hover-action f-center mask">
                            <div class="b-item-hover-action__inner">
                                <div class="b-item-hover-action__inner-btn_group">
                                    <a href="travel_hotels_details_left_slidebar.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-8">
                    <div class="b-form-row f-primary-l f-title-big c-secondary f-h4-special b-blog__title"><a href="travel_hotels_details_left_slidebar.html">Hotel Du Lion D'or</a></div>
                    <div class="b-form-row f-h4-special clearfix">
                        <div class="b-blog-one-column__info_container">
                            <div class="b-blog-one-column__info">
                                <span class="f-info--big">$36.00 avg/night</span>

                                <span class="b-blog-one-column__info_delimiter"></span>
                                Location : <a href="#" class="f-more">Malaga</a>
                            </div>
                            <div class="pull-right">
                                <div class="b-stars-group f-stars-group">
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star is-active-stars"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-form-row b-blog-one-column__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac lacinia dolor. Nullam semper euismod rhoncus. Curabitur pulvinar, mauris luctus semper rutrum, lacus est volutpat urna, sed fringilla augue nunc nec dolor. Integer sit amet massa non quam semper sodales</div>
                    <div class="b-form-row b-null-bottom-indent">
                        <a href="travel_hotels_details_left_slidebar.html" class="b-btn f-btn b-btn-md b-btn-default f-primary-b">book now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-pagination f-pagination">
            <ul>
                <li><a href="#">First</a></li>
                <li><a class="prev" href="#"><i class="fa fa-angle-left"></i></a></li>
                <li class="is-active-pagination"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a class="next" href="#"><i class="fa fa-angle-right"></i></a></li>
                <li><a href="#">Last</a></li>
            </ul>
        </div>
    </div>
    {% include 'include/sidebar.twig' %}
</div>
</div>
{% endblock %}